.Stranger{
    font-size: 15px;
}
.list{
    font-size: 11px;
}
.ol1{
    list-style: lower-latin;
}
.olI{
    list-style: upper-roman;
}
.ol2{
    list-style: circle;
}
.ol3{
    list-style: disc;
}
.ulsquare{
    list-style-type: square;
}
.problem5{
    background-image: url('./IMG/B.png');
}
.h105{
    color: #F3BE60;
}
.ulsquare05{
    list-style-type: square;
    color: #F3BE60;
    font-size: 30px;
}
.Text{
    color: white;
    font-size: 27px;
}
.h1R{
    margin-left: 10px;
    margin-bottom: 2px;
    color: #F3CD60;
}
.divText{
    background-color: #20201E;
    width: 1190px;
    border: 1px solid #646056;
    margin-left: 30px;
    margin-top: 10px;
}
.inText{
    font-size: 20px;
    color: #FBEEC9;
    margin-left: 15px;
}
.Num{
    font-size: 8px;
    color: #DCD9D8;
    margin-left: 1200px;
    margin-top: 100px;
}