img div body h1 h2 h3 h4 h5 h6 {
    margin:0px;
    padding:0px;

}

body {
    background-image:url('images/pps-bg.jpg');
    color:white;
    background-size:100%;
    font-family:Calibri;
    font-size:25px;
}

h1 {
    color:#f4c266;
}

ul {
    list-style-type:square;

}
    ul li {
        color:#f4c266;
        font-weight:bold;
    }

img {
    width:100%;
    height:100%;
}

.content {    
    color:#faeecb;
    border:1px solid #71685b;
    background-color:rgba(128, 128, 128, 0.31);
    width:80%;
    height:10%;
    margin-left:10%;
    font-size:20px;
    font-weight:bold;
    margin-bottom:15px;
    margin-top:15px;

}

span {
    color:white;
    font-weight:normal;
    font-size:30px;
}
.logo {
    width: 362px;
    height: 135px;
    position: absolute;
    top: 0px;
    right: 0px;
}