body{
	background-color:#B0DEEB;
}
p{
	font-size:16px;
	text-shadow: 1px 1px #fff;
	
}
ul{
	list-style: none;
	margin: 0 auto;
}
#italic{
	font-style: italic;
	padding:0px;
}
.noItalic{
	font-style: normal;
}
img {
	border:2px solid #666666;
}
span{
	font-size: 14px;
}
